body {
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
}

.header {
    z-index: 2;
    width: 100%;
    position: relative;
    box-shadow: 0px 16px 16px 0px #00000008;
    background-color: white;
}

nav {
    display: flex;
    padding: 0px 32px;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 32px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: darkgrey;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

#map {
    z-index: 1;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
}